<div class="article-new <%= "first-child" if index && index == 0 %>">
	<%= image_tag article.default_image.photo.url(:thumb) %>
	<p class="title"><%= link_to article.title, "/article/#{article.permalink}"%></p><br />	
	<% @user.each do |user| %>
    <% if user.id == article.user_id %>
    <p class="by">By: <%= user.email%></p>
    <% end %>
    <% end %>	
	<p class="redmore"><%= link_to 'Read More', "/article/#{article.permalink}"%> &hellip;</p>
</div>