<div class="comments">
  <div>
    <b> Comments</b>
  </div>
  
    <%if @comments%>
      <% @comments.each do |comment| %>
        <div class="div_comment clearfix" id="comment_<%= comment.id %>">
          <img class="img" src="../images/member_default_thumb.jpg" alt="avata"/>
          <% @user.each do |user| %>
            <% if comment.user_id == user.id %>
             <p class="user"><%= user.email%></p> 
            <% end %>
          <% end %> 
          <p class="comment"> <%= comment.comment %></p>
          <% if comment.deletable_by?(current_user) %>
          <a class="del_comment" rblake:comment_id="<%= comment.id %>" > X</a>
          <% end %>
        </div>     
      <% end %>
    <% end %>
   
  <div id="existed_comment_tmp" class="div_comment clearfix" style="display: none">
    <img class="img" src="/images/member_default_thumb.jpg" alt="avata"/>
    <p class="user" ><%= @current_user.email %></p>
    <p class="comment"></p>
    <a rblake:comment_id="" class="del_comment">X</a>
  </div>
  
  <%= form_for(@comment, :as => 'comment', :url => "/create", :html => {:id => "comment_form"} ) do |f| %>
    <%= hidden_field_tag "comment[commentable_id]", @article.id %>
    <%= hidden_field_tag "comment[commentable_type]","Article"%>
   
    <div class="form_comment clearfix">
      <img class="img" src="/images/member_default_thumb.jpg" alt="avata"/>
      <%= f.text_area  :comment, :id => "text_comment" %>
      <%= button_tag "Submit Comment", :type => "button", :id => "comment_button", :class =>"btn btn-primary" %>
    </div>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a.del_comment").live("click", function() {
        var comment_id = $(this).attr("rblake:comment_id");
        var del_url = "/comments/" + comment_id + "/delete";
        $.ajax({
          url : del_url,
          type : "POST",
          dataType : "json",
          success : function(response) {
            if (response.result) {
              $(".div_comment#comment_" + comment_id).hide();
              alert(response.message);
            } else {
              alert(response.message);
            }
          }
        });
        
      });
      
      $("#comment_button").live("click", function() {
        $.ajax({
          url : "/comments",
          type : "POST",
          data : $("#comment_form").serialize(),
          dataType : "json",
          success : function(response) {
            if (response.result == 'success') {
              var new_row = $("#existed_comment_tmp").clone();
              new_row.insertAfter("#existed_comment_tmp");
              new_row.attr("id", "comment_" + response.comment.id);
              new_row.show();
              new_row.find('.comment').text(response.comment.comment);
              $('#comment').val('');
              new_row.find('a.del_comment').attr("rblake:comment_id", response.comment.id);
              $("#text_comment").val("");
            } else {
              alert(response.message);
            }
          }
        });
      });

    });

  </script>

</div>