<div class="comments row-fluid">
	<div>
		<b> Comments</b>
	</div>

	<% comments.each do |comment| %>
	<%= render :partial => "comment_show", :locals => { :comment => comment } %>
	<% end %>

	<%= form_for(@comment, :as => 'comment', :url => "/create", :html => {:id => "comment_form"} ) do |f| %>
	<%= hidden_field_tag "comment[commentable_id]", @article.id %>
	<%= hidden_field_tag "comment[commentable_type]","Article"%>

	<div class="form_comment clearfix">
		<img class="img" src="/images/member_default_thumb.jpg" alt="avata"/>
		<%= f.text_area  :comment, :id => "text_comment" %>
		<%= button_tag "Submit Comment", :type => "button", :id => "comment_button", :class =>"btn btn-primary" %>
	</div>
	<% end %>
	<script type="text/javascript">
		$(document).ready(function() {
			$("a.del_comment").live("click", function() {
				var comment_id = $(this).attr("rblake:comment_id");
				var del_url = "/comments/" + comment_id + "/delete";
				var confirmBox;
				confirmBox = confirm("Are you sure to delete the comment ?");
				if (confirmBox == true) {
					$.ajax({
						url : del_url,
						type : "POST",
						dataType : "json",
						success : function(response) {
							if (response.result) {
								$(".div_comment#comment_" + comment_id).hide();
								var new_success = $("#success_message_temp").clone();
								$(new_success).find("strong").html(response.message);
								$("#main_messages").append(new_success);
								$(new_success).show();
							} else {
								var new_error = $("#error_message_temp").clone();
								$(new_error).find("strong").html(response.message);
								$("#main_messages").append(new_error);
								$(new_error).show();
							}
						}
					});
				}
			});

			$(".edit_comment").live("click", function() {
				$(this).parent().find(".comment").hide();
				$(this).parent().find(".comment_edit_form").show();
				$(this).parent().find(".edit_comment").hide();
				$(this).parent().find(".del_comment").hide();
			});

			$("#cancel_repcmt").live("click", function() {
				$(this).parent().parent().find(".comment").show();
				$(this).parent().parent().find(".comment_edit_form").hide();
				$(this).parent().parent().find(".edit_comment").show();
				$(this).parent().parent().find(".del_comment").show();
			});

			$("#submit_repcmt").live("click", function() {
				var comment_id = $(this).parent().parent().find(".edit_comment").attr("rblake:comment_id");
				var update_url = "/comments/" + comment_id + "/update";
				$.ajax({
					url : update_url,
					type : "POST",
					data : $("#form_edit_" + comment_id).serialize(),
					dataType : "json",
					success : function(response) {
						if (response.result == 'success') {
							$("#comment_" + comment_id).replaceWith(response.content);
							$("#success_message_temp").find("strong").html(response.message);
							$("#success_message_temp").show().alert('close');
						} else {
							$("#error_message_temp").find("strong").html(response.message);
							$("#error_message_temp").show().alert('close');
						}
					}
				});
			});

			$("#comment_button").live("click", function() {
				$.ajax({
					url : "/comments",
					type : "POST",
					data : $("#comment_form").serialize(),
					dataType : "json",
					success : function(response) {
						if (response.result == 'success') {
							$("#comment_form").before(response.content);
							$("#text_comment").val("");
						} else {
							alert(response.message);
						}
					}
				});
			});

		});

	</script>
</div>

