<div class="div_comment clearfix" id="comment_<%= comment.id %>">
  <img class="img" src="/images/member_default_thumb.jpg" alt="avata"/>
  <p class="user">
    <%= comment.user.email if comment.user %>
  </p>
  <p class="comment">
    <%= comment.comment %>
  </p>
  <form id='form_edit_<%= comment.id %>' style="display:none;" class="comment_edit_form">
    <textarea id='rep_cmt' name='comment'><%= comment.comment %></textarea>
    <input type='button' class='btn' id='cancel_repcmt' value='Cancel' />
    <input type='button' class='btn btn-primary' id='submit_repcmt' value='Submit' />
  </form>
  
  <% if comment.deletable_by?(current_user) %>
    <a class="del_comment" rblake:comment_id="<%= comment.id %>">Delete</a>
  <% end %>
  <% if comment.editable_by?(current_user) %>
    <a class="edit_comment" rblake:comment_id="<%= comment.id %>">Edit</a>
  <% end %>
</div>
