<%= form_for @article, :as => :article, :url => @article.new_record? ? "/article/create" : "/article/#{@article.permalink}/edit", 
        :method => :post, :html => { :class => "edit_article_form", :id => "edit_article_form" } do |f| %>

  <% if @article.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:</h2>
	    <ul>
			  <% @article.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
		</div>
  <% end %>

  <div class="field">
    <br/>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <br/>
		<%= f.label :description %>
    <%= f.text_field :description %>
  </div>

	<div class="field">
    <br />
    <%= f.label :category_id %>
    <%= f.text_field :category_id, :size => 20 %>
    <%= link_to 'Browser', "#" %>
  </div>

  <div class="field">
    <br/>
		<%= f.label :content %>
		<%= f.cktext_area :content %>
  </div>

  <br/>
  <%= f.submit :class => "btn btn-primary" %>
  <% if @article.new_record? %>
  	<%= link_to 'Back', "/category", :class => 'btn' %>
  <% else %>
  	<%= link_to 'Back', "/article/#{@article.permalink}", :class => 'btn' %>
  <% end %>

<% end %>
 