<div class="main" style="display:block;"> 
  <p class="title"><%= @article.title %></p>
  <p class="time"><%= @article.created_at%></p>
  <br/>
  <p class="description"><%= @article.description %></p>
  <br/>
  <p class="content"><%= raw @article.content %></p>
  
    <%= image_tag @article.default_image.photo.url(:thumb) %>
  <br/>
  <% if @article.updatable_by?(current_user) %>
    <div align="right">
      <%= link_to 'Edit', { :action => 'edit', :permalink => @article.permalink }, :class => "btn btn-primary" %>
      <%= link_to 'Move', { :action => 'move', :permalink => @article.permalink }, :class => "btn btn-primary" %>
      <%= link_to 'Delete', { :action => 'delete',:permalink => @article.permalink }, :class => "btn btn-primary", :confirm => 'Are you sure?' %>
    </div>
  <% else %>
    <div align="right">
      <%= link_to 'Create New', {:action=>'new'}, :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br/>
<br/>
<br/>

<div class="main" style="display:block;">
	<h3>More news...</h3>
  <ul>
    <% @article.related_articles.each do |article| %>
      <li><%= link_to article.title, "/article/#{article.permalink}" %></li>
    <% end %>
  </ul>
</div>
<br/>
<br/>
<br/>

<div class="main" style="display:block;"> 
  <% if @article.category && @article.category.is_blog? %>
    <%= render :partial => "comments", :locals => { :comments => @article.comments } if current_user %>
  <% else %>
    <%= render :partial => "public_comments" %>
  <% end %>
</div>

<div class="main" style="display:block;"> 
  <%= render :partial => "version_history", :locals => { :articles => @articles } %>
</div>
