<%= form_for @theme , :as => :theme,:method => :post, :html => { :class => "theme_form", :id => "theme_form" } do |f| %>
<div class="field">
	<%= f.label :color_background_body %>
	<%= f.text_field :color_background_body %>
</div>
<div class="field">
	<%= f.label :color_background_menu %>
	<%= f.text_field :color_background_menu %>
</div>

<div class="field">
	<%= f.label :color_background_article %>
	<%= f.text_field :color_background_article %>
</div>
<div>
	<%= hidden_field_tag "theme[is_active]", @theme.is_active = true %>
</div>
<div class="field">
	<p>Image Background</p>
<%= f.file_field :img_bg%>
</div>

<div class="field">
	<%= f.submit :class => "btn btn-primary" %>
</div>
<% end %>

