<img src="/images/page_heading_subscribe.png" alt=""/>

<div class="content page">
  <div class="page_block">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :protocol => :https)) do |f| %>
    <table class="narrow">
      <tr>
        <td colspan="2"><h2><img src="/images/login_details.png" alt="Login Details" /></h2></td>
      </tr>
      <tr>
        <td><%= f.label :email %> <span class="required_field">*</span></td>
        <td><%= f.email_field :email, :size => 20 %></td>
      </tr>
      <tr>
        <td><%= f.label :password %> <span class="required_field">*</span></td>
        <td><%= f.password_field :password, :size => 20 %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation %> <span class="required_field">*</span></td>
        <td><%= f.password_field :password_confirmation, :size => 20 %></td>
      </tr>
      <tr>
        <td><%= f.submit "SignUp" %></td>
      
      </tr>

    </table>
    <% end %>
  </div>
</div>