<img src="/images/page_heading_subscribe.png" alt=""/>

<div class="content page">
  <div class="page_block">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :protocol => :https)) do |f| %>
      <table class="narrow">
        <tr>
          <td colspan="2"><h2><img src="/images/login_details.png" alt="Login Details" /></h2></td>
        </tr>
        <tr>
          <td><%= f.label :email %> <span class="required_field">*</span></td>
          <td><%= f.email_field :email, :size => 20 %></td>
        </tr>
        <tr>
          <td><%= f.label :password %> <span class="required_field">*</span></td>
          <td><%= f.password_field :password, :size => 20 %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation %> <span class="required_field">*</span></td>
          <td><%= f.password_field :password_confirmation, :size => 20 %></td>
        </tr>

        <tr>
          <td colspan="2"><h2><img src="/images/heading_payment_information.png" alt="Payment Information" /></h2></td>
        </tr>
        <%= render :partial => "/subscribers/stripe_card_form", :locals => {:f => f, :submit_form => "user_new"} %>

        <tr>
          <td colspan="3"><h2><img src="/images/shipping_address.png" alt="Shipping Address" /></h2></td>
        </tr>
        <%= render :partial => "/subscribers/shipping_form", :locals => {:f => f} %>

        <tr>
          <td></td>
          <td><input type="button" value="Subscribe" onclick="javascript:user_new_card_validate();" /></td>
        </tr>

      </table>
    <% end %>
  </div>

  <div class="page_block">
    <h2>Your card will be charged on December 1, 2011.</h2>
    <h2>Your first tea order will also be shipped on December 1, 2011.</h2>
    <h2>Orders will be shipped via USPS Priority Mail and will normally take 2-4 days to arrive.</h2>
    <h2>Every month, on the 1st, we'll charge your card and ship your order. You can cancel your tea subscription anytime.</h2>
  </div>

</div>