<div class="container clearfix">
	<div class="category">
		<ul class="listcategory">
			<% @categories.each do |category|%>
			<li>
				<%= link_to category.name,"/category/#{category.permalink}"%>
				<div style="float: right">
					<%= link_to 'Edit',"/category/#{category.permalink}"%>
					<%= link_to 'Destroy', {:action => 'destroy',:id => category.id}, :confirm => 'Are you sure?' %>
				</div>
			</li>
			<% end %><!------end each categories---->
		</ul>
		<%= link_to 'Create Category',{:action=>'new'} %>
	</div><!------end div category---->
	<div class="mainarticle clearfix">
		<% @articles.each do |article| %>
		<div class="article">
			<%= image_tag article.photo.url(:thumb) %>
			<%= link_to article.title, "/article/#{article.permalink}"%>
			<br />
			<%= article.description %>
		</div><!------end div article- ---->
		<% end %>

	<div class="articlelienquan">
		<p>Các bài viết liên quan</p>
		<ul>
			<% @articles.each do |article|%>
			<li><%= link_to article.title,"/article/#{article.permalink}"%></li><br />
			<% end %>
		</ul>
	&hellip;
	</div><!------end div article-lienquan---->
</div><!------end div mainarticle- ---->