<h2>Category</h2>
<p>
	Name:<span> <%= @category.name%></span>
</p>
<div class="mainarticle clearfix">
	<% @articles.each do |article| %>
	<% if article.category_id == @category.id %>

	<div class="article">
		<%= image_tag article.photo.url(:thumb) %>
		<%= link_to article.title, "/article/#{article.permalink}"%>
		<br />
		<%= article.description %>

	</div>

	<% end %>
	<% end %>
</div>
<% if @category.updatable_by?(current_user) %>
	<%= link_to 'Edit', { :action => 'edit', :permalink => @category.permalink }, :class => "btn btn-primary" %>
	<%= link_to 'Back', {:action => 'index'}, class: "btn" %>
<% end %>
