<!DOCTYPE html>
<html>
  <head>
    <title>Scrum2b: be scrum with us</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script src="path/to/your/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="path/to/your/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
    <script src="path/to/your/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
          <a class="brand" href="/"><i class="icon-home icon-white"></i>Scrum2B</a>

          <% if current_user %>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> <%= current_user.email %> <span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Profile", '/profile' %>
              </li>
              <% if current_user.admin? %>
              <li class="divider"></li>
              <li>
                <%= link_to "Admin", '/admin' %>
              </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", '/logout' %>
              </li>
            </ul>
          </div>
          <% else %>
          <div class="pull-right">
            <ul class="nav">
              <li>
                <%= link_to "Login", '/login' %>
              </li>
              <li>
                <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
              <li>
            </ul>
          </div>
          <% end %>

          <div class="nav-collapse">
            <ul class="nav">
              <% @main_menus.each do |menu|%>
              <li>
                <% if menu.category %>
                <%= link_to menu.name, "/category/#{menu.category.permalink}" %>
                <% elsif menu.article %>
                <%= link_to menu.name, "/article/#{menu.article.permalink}" %>
                <% elsif menu.extra_link && !menu.extra_link.blank? %>
                <%= link_to menu.name, menu.extra_link %>
                <% elsif menu.category%>
                <%= link_to menu.name,"Category"%>
                <% else %>
                <%= link_to menu.name, "/category/#{menu.permalink}" %>
                <% end %>
              </li>
              <% end %>
              <% if current_user %>
              <% if current_user.moderator? || current_user.admin? %>
              <li>
                <%= link_to "Create Category", "/category/new" %>
              </li>
              <% end %>
              <li>
                <%= link_to "Create Article", "/article/new" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="main_messages">
        <div  id="success_message_temp" class="success-message alert-success fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong> </strong>
          <br />
        </div>
        <div id="error_message_temp" class="error-message alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong></strong>
          <br />
        </div>

        <% if flash[:notice] %>
        <p class="notice fade in">
          <%= flash[:notice] %><span class="close" data-dismiss="alert" href="#">x</span>
        </p>
        <% end %>
        <% if flash[:error] %>
        <p class="error fade in">
          <%= flash[:error] %><span class="close" data-dismiss="alert" href="#">x</span>
        </p>
        <% end %>
      </div>

      <%= yield %>

    </div>

    <div class="footer">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          2012 Scrum2B Team
        </p>
        <p>
          Website: scrum2b.com
        </p>
        <p>
          E-mail: contact@scrum2b.com
        </p>
      </div>
    </div>

  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      $("span.close").live("click", function() {
        $(this).parent().hide();
      });
    });
  </script>
</html>
